<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
<!--        将 下划线 映射为 驼峰命名对象-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.chinasoft.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.8.81:3306/db1?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="sqlmap/UserMapper.xml"/>-->
        <!--<mapper class="com.chinasoft.mapper.UserMapper"></mapper>
        <mapper class="com.chinasoft.mapper.AccountMapper"></mapper>-->
<!--        使用包扫描的方式定义 xml文件-->
        <package name="com.chinasoft.mapper"/>
    </mappers>
</configuration>